---
import { sanityClient } from "sanity:client";
// 1. Change this import
import { renderMarkdown } from '../../lib/markdown'
import PageLayout from '@/layouts/ContentLayout.astro';
import DocsContents from './DocsContents.astro';

export const prerender = true;

const QUERY = `*[_type == "essay" && slug.current == $slug][0]`;
const essay = await sanityClient.fetch(QUERY, Astro.params);

// 2. Parse the markdown content
// If you want KaTeX/Shiki here, add marked.use() calls similar to your blog file
const htmlContent = essay?.content
  ? await renderMarkdown(essay.content)
  : null


export async function getStaticPaths() {
  return sanityClient.fetch(`
    *[_type == "essay" && defined(slug.current)]{
      "params": { "slug": slug.current }
    }
  `);
}

const essays = await sanityClient.fetch(`*[_type == "essay" && defined(slug.current)]{
  title, slug, category, order
}`);
---
<PageLayout meta={{ title: essay.title, description: essay.description }} back='/essays'>
  <Fragment slot="sidebar">
    <DocsContents essays={essays} class="docs-toc block mt-3" />
  </Fragment>

  <Fragment slot="header">
    <h1 class="text-2xl font-medium sm:mb-2 sm:text-3xl">{essay.title}</h1>
    {essay.description && (
      <blockquote class="text-sm italic text-muted-foreground mt-2">
        <q>{essay.description}</q>
      </blockquote>
    )}
  </Fragment>

  <main class="prose dark:prose-invert mt-6 lg:mt-10">
    {htmlContent ? (
      <div set:html={htmlContent} />
    ) : (
      <p>No content available.</p>
    )}
  </main>
</PageLayout>