---
import PageLayout from '@/layouts/BaseLayout.astro';
import { sanityClient } from "sanity:client";
import DocsContents from './DocsContents.astro';

const ESSAYS_QUERY = `*[_type == "essay" && defined(slug.current)]{
  _id, title, slug, category, order
}`;

const essays = await sanityClient.fetch(ESSAYS_QUERY);

const meta = {
  title: 'Essays',
  description: 'Ebube\'s Essays'
}
---

<PageLayout {meta}>
  <main class='mt-6 lg:mt-10'>
    <h1 class='mb-6 text-3xl font-medium'>Essays</h1>
    <DocsContents essays={essays} />
  </main>
</PageLayout>