---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'visualizations', text: 'Visualizations' },
  { depth: 2, slug: 'programs', text: 'Programs' },
]
---

<PageLayout title='Projects'>
  <h2 id='visualizations'>Visualizations</h2>
  <ProjectSection
    projects={[
      {
        name: 'Australian Frogs',
        description: 'A visualization of frog species distributions in Australia.',
        links: [
          { type: 'github', href: 'https://github.com/Peplinn/visualizations/tree/main/tidytuesday/australian-frogs' },
          { type: 'site', href: 'https://github.com/Peplinn/visualizations/tree/main/tidytuesday/australian-frogs' },
        ]
      }
    ]}
  />

  <!-- <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'Owa',
        description:
          'Android note App complies with Material You specifications, developed using Java',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/notie' },
          {
            type: 'release',
            href: 'https://github.com/cworld1/notie/releases'
          }
        ]
      },
      {
        name: '💄 PKU Art',
        description: 'A script to beautify pku course website',
        links: [
          { type: 'github', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'site', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'doc', href: 'https://docs.arthals.ink/docs/pku-art' }
        ]
      }
    ]}
  /> -->

  <p>
    If you would like to support this website, collaborate on a project, or just say hello, you can contact me below or buy me a coffee.
  </p>
  <Button title='Say hello' class='w-fit' href='mailto:ebube@ebubeoluoma.com'>
    <Icon class='size-5' name='email' slot='before' />
  </Button>
  <Button title='Buy me a coffee' class='w-fit' href='https://buymeacoffee.com/peplinn'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>
  

</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
