---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
// import Substats from '@/components/about/Substats.astro'
// import ToolSection from '@/components/about/ToolSection.astro'
import config from 'virtual:config'
import { Icon } from '../../../packages/pure/components/user'

const footerConf = config.footer
let social = footerConf.social || {}

const headings = [
  { depth: 2, slug: 'now', text: 'Now' },
  { depth: 2, slug: 'about-site', text: 'About Site' }
]
---

<PageLayout title='About' {headings}>
  <p>I am a data scientist and backend engineer based in Ontario, Canada. I'm interested in work that creates meaningful positive impact and drawn to problems that affect people's daily lives.</p>
  <p>
    Much of my work centers on problems in climate and urbanization, which depend on deliberate human intervention for solution.
    I'm also experimenting with machine learning models and advanced statistical methods through my projects.
  </p>
  <p>
    When I'm not working, I spend time learning, writing, making art, and gaming. Unsurprisingly, these often feature in the work that I do.
  </p>
  <p>
    Stay curious.
  </p>

  <!-- Social Icons -->
  <div class="flex items-center gap-x-4 mt-6">
    {
      Object.entries(social)
        .filter(([platform]) => ['github', 'linkedin', 'email',].includes(platform))
        .map(([platform, { label, url }]) => (
          <a
            class="inline-block text-muted-foreground transition-all hover:text-muted-foreground/75"
            href={url}
            aria-label={label}
          >
            <Icon name={platform as keyof typeof social} />
          </a>
        ))
    }
  </div>

  {/* now */}
  <h2 id='now'>Now</h2>
  <p>It's <strong>Christmas Day 2025</strong>. I have just created this section and am reworking this and the home page.</p>
  <p>I have also been drawing again. I want to start working on my shading soon.</p>


  {/* about-blog */}
  <h2 id='about-site'>About Site</h2>
  <p>
    The content on this website is also supported by the following services:
  </p>
  <ul>
    <li>Domain: <a href='https://porkbun.com/' target='_blank'>Porkbun</a></li>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <!-- <li>Resources speedup: <a href='https://cdn.cbd.int/' target='_blank'>CBD CDN</a></li> -->
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>
</PageLayout>
