---
import { Button, Collapse, Spoiler, Timeline, Icon } from 'astro-pure/user'
import { Image } from 'astro:assets'
import PageLayout from '@/layouts/CommonPage.astro'
// import Substats from '@/components/about/Substats.astro'
// import ToolSection from '@/components/about/ToolSection.astro'
import config from 'virtual:config'
import avatar from '@/assets/avatar.png'

const footerConf = config.footer
let social = footerConf.social || {}


---

<PageLayout title='About'>
  <p>I am a Master's student in Big Data Analytics based in Ontario, Canada, with a background in backend development.</p>
  <p>
    I'm interested in using data to solve people's day-to-day problems. Recently, my academic and personal projects 
    have focused on climate and urbanization
    where I apply statistical analysis, data modelling, and visualization techniques to reveal actionable insights,
    using Python, SQL, and Tableau.
  </p>
  <p>
    When I'm not working, I spend time learning, writing, making art, and gaming.
  </p>
  <p><i>Stay curious.</i></p>

  <!-- Social Icons -->
  <div class="flex items-center gap-x-4 mt-6">
    {
      Object.entries(social)
        .filter(([platform]) => ['github', 'linkedin', 'email',].includes(platform))
        .map(([platform, { label, url }]) => (
          <a
            class="inline-block text-muted-foreground transition-all hover:text-muted-foreground/75"
            href={url}
            aria-label={label}
          >
            <Icon name={platform as keyof typeof social} />
          </a>
        ))
    }
  </div>

  {/* now */}
  <h2 id='now'>Now</h2>
  <p>It's <strong>Christmas Day 2025</strong>. I have just created this section and am reworking the entire site.</p>
  <p>I have also been drawing again. I want to start working on my shading soon.</p>

</PageLayout>
